/* Обнуляющий стиль */
@import "null.css";
/* Подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* ======================================================================================= */
/* Оболочка */
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.title {
	font-family: "Lato", sans-serif;
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
	width: 810px;
   height: 120px;
	margin: 40px auto;
	color: #1E212C;
}
img {
	display: block;
	width: 810px;
	height: 360px;
	margin: 60px auto;
}
.section-1 {
	font-family: "Lato", sans-serif;
   font-weight: bold;
   font-size: 20px;
   line-height: 150%;
	width: 810px;
   height: 90px;
	margin: 25px auto;
   color: #1E212C;
}
.section-2 {
	font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 160%;
	width: 810px;
   height: 182px;
	margin: 25px auto;
   color: #424551;
}
.section-3 {
	font-family: "Lato", sans-serif;
   font-weight: bold;
   font-size: 20px;
   line-height: 150%;
	width: 810px;
   height: 120px;
	padding: 0px 0px 0px 58px;
	margin: 48px auto;
   color: #1E212C;
}
.section-4 {
	font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 160%;
	width: 810px;
   height: 52px;
	margin: 24px auto;
   color: #424551;
}
.list {
	font-family: "Lato", sans-serif;
	font-size: 16px;
   line-height: 160%;
	max-width: 600px;
   height: 116px;
   color: #424551;
	margin: 24px auto;
}
footer {
	font-family: "Lato", sans-serif;
	font-size: 16px;
   line-height: 160%;
	margin: 0 auto;
	width: 810px;
   height: 104px;
   color: #424551;
}